@font-face {
  font-family: 'Roboto-Light';
  src: url('https://zodiacfra.github.io/ZodiacFRA/fonts/Roboto-Light.ttf') format("truetype");
}
@font-face {
  font-family: 'Format_1452';
  src: url('https://zodiacfra.github.io/ZodiacFRA/fonts/Format_1452.otf') format("opentype");
}

* { box-sizing: border-box; }
body {
  font-family: 'Roboto-Light';
  background-color: #181a1b;
  margin: 20px;
  color: #ffffff;
}

h1 {
  margin: 0px;
  font-size: 100px;
  font-family: 'Format_1452';
  color: #ffffff;
}
h1 a {
  margin: 0px;
  font-size: 100px;
  font-family: 'Format_1452';
  color: #ffffff;
  text-decoration: none;
  margin-right: 100px;
}
h1 a:hover { color: #ffffaa; }

h2 {
  border-top: 1px solid white;
  font-size: 50px;
  font-family: 'Format_1452';
  color: #ffffff;
  margin: 0px;
  padding-top: 20px;
}

h3 {
  font-size: 20px;
  color: #757b80;
  margin: 0px;
}

h4 {
  font-size: 15px;
  color: #757b80;
  margin: 0px;
}

p { font-size: 20px; }
a { color: #ffffff; }
a:hover { color: #ffffaa; }
img { width: 100%; height: auto; }

.header_icons {
  gap: 20px;
  display: flex;
  margin-top: 10px;
}
.header_icon {
  /* padding-top: 10px; */
  width: 50px;
  height: auto;
  color: #ffffff;
}
.header_icon:hover {
  filter: brightness(0) saturate(100%) invert(89%) sepia(31%) saturate(425%) hue-rotate(6deg) brightness(107%) contrast(103%);
}

.video_container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
.embedded_video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* ----- RESPONSIVE ------- */
/* Smartphone */
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 10px;
  /* background-color: #aaff00; NICE COLOR */
  margin: -10px;
  margin-bottom: 10px;

  justify-content: space-between;
}

.article_container {
  display: grid;
  margin-bottom: 20px;
}
.article_text {
  margin-bottom: 20px;
  margin-right: 20px;
  position: static;
}

/* Monitor */
@media only screen and (min-width: 1000px) {
        .header_icons {
          margin-top: 0px;
        }
        .article_container {
            display: grid;
            margin-bottom: 20px;
            grid-template-columns: 2.5fr 1.5fr 4fr;
        }
        .article_text {
          /* flex-grow: 2.5; */
          margin-bottom: 20px;
          margin-right: 20px;
          height: 180px;

          position: -webkit-sticky;
          position: -moz-sticky;
          position: -o-sticky;
          position: -ms-sticky;
          position: sticky;
          top: 20px;
        }
}
